.nav {
  display: flex;
}

.nav__list {
  @extend %flex-alignment;
}

.nav__item:not(:last-child) {
  margin-right: var(--title-margin);
}

.nav__link {
  @extend %link;

  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);

  color: var(--title-text-color);

  transition: color 250ms var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link--current {
  position: relative;
  display: block;

  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: -1px;
    content: ' ';

    display: block;
    height: 4px;
    width: 100%;

    border-radius: 2px;

    background-color: var(--accent-color);
  }
}
