.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--element-padding);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-background);
}

.feature__title {
  @extend %title;

  margin-bottom: var(--feature-title-margin);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.work__title {
  @extend %section-title;
}

.team__title {
  @extend %section-title;
}

.clients__title {
  @extend %section-title;
}

.footer__title {
  margin-bottom: var(--footer-logo-margin);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-background);
}

.modal__title {
  @extend %title;

  display: inline-block;
  width: 448px;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 1.17;
  text-align: center;
}
