.feature {
  @extend %section;
}

.feature__list {
  @extend %card-set;
}
.feature__item {
  flex-basis: calc((100% - 120px) / 4);
  @extend %card-set__item;
}

.feature__thumb {
  @extend %flex-centered;
  border-radius: 4px;

  width: 270px;
  height: 120px;
  margin-bottom: var(--element-padding);

  background-color: var(--second-background);
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
